{% extends 'article/base.html' %}
{% block content %}
    {% for post in posts %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <h3><a href="#" class="article-title">{{ post.title }}</a></h3>
                    <div class="date-time">
                        <i class="fa-solid fa-calendar-days"></i>
                        <small class="text-muted">{{ post.date_posted | date:"F d, Y" }}</small>
                    </div>
                </div>
                <p class="article-content">{{ post.content }}</p>
                <div class="hstack gap-2">
                    <a href="#" class="ms-auto author-name">{{ post.author }}</a>
                    <img class="rounded-circle article-img" src="{{ post.author.profile.avatar.url }}" alt="">
                </div>
            </div>
        </article> 
    {% endfor%}
{% endblock content %}